<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	     http://www.springframework.org/schema/beans 
	     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	     http://www.springframework.org/schema/tx
	     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	     http://www.springframework.org/schema/aop 
	     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
  <!--设备轮换-->
	<bean id="LH" class="com.xzsoft.interfaces.LHExecute"/>
	<bean id="jobDetailaddLH" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="LH"/>
		</property>  
    	<property name="targetMethod">
    	    <value>AccessInterfaceExecuteLh</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>	
 <!-- 异常情况 -->
	<bean id="GZ" class="com.xzsoft.interfaces.GZExecute"/>
	<bean id="jobDetailaddYC" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="GZ"/>
		</property>  
    	<property name="targetMethod">
    	    <value>AccessInterfaceExecuteGZ</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
<!-- 机组启停 -->
	<bean id="Jzqt" class="com.xzsoft.interfaces.Jzqt"/>
	<bean id="jobDetailaddQT" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="Jzqt"/>
		</property>  
    	<property name="targetMethod">
    	    <value>JzqtExecute</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
<!-- 机组启停步序记录数 -->
	<bean id="JzqtStep" class="com.xzsoft.interfaces.Jzqt"/>
	<bean id="jobDetailaddQTStep" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="JzqtStep"/>
		</property>  
    	<property name="targetMethod">
    	    <value>JzqtStepExecute</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
<!-- 定期试验  -->
	<bean id="SY" class="com.xzsoft.interfaces.SYExecute"/>
	<bean id="jobDetailaddSY" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="SY"/>
		</property>  
    	<property name="targetMethod">
    	    <value>SYExecuteInterface</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
<!-- 金属超温超压报警 -->
	<bean id="Metalbj" class="com.xzsoft.interfaces.MetalBaojing"/>
	<bean id="jobDetailaddMetalBj" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="Metalbj"/>
		</property>  
    	<property name="targetMethod">
    	    <value>MetalInsertExecute</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
	<!-- 金属超温超压报警统计表 -->
	<bean id="MetalbjTotal" class="com.xzsoft.interfaces.MetalBaojing"/>
	<bean id="jobDetailaddMetalbjTotal" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="MetalbjTotal"/>
		</property>  
    	<property name="targetMethod">
    	    <value>MetalBaojingTotalExecute</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
<!-- 主再热温度、金属壁温、环保考核取数 -->
	<bean id="CXCBkaohe" class="com.xzsoft.interfaces.MetalBaojing"/>
	<bean id="jobDetailaddCXCBkaohe" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="CXCBkaohe"/>
		</property>  
    	<property name="targetMethod">
    	    <value>CXCBkaoheExecute</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
	<!-- 振动报表取数 -->
	<bean id="ZzReportForm" class="com.xzsoft.interfaces.MetalBaojing"/>
	<bean id="jobDetailaddZzReportForm" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="ZzReportForm"/>
		</property>  
    	<property name="targetMethod">
    	    <value>getZzReportFormExecute</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
	<!-- 节能报表取数 -->
	<bean id="JNReportForm" class="com.xzsoft.interfaces.MetalBaojing"/>
	<bean id="jobDetailaddJNReportForm" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="JNReportForm"/>
		</property>  
    	<property name="targetMethod">
    	    <value>getJNReportFormExecute</value>
    	</property>
    	<!-- 将并发设置为false   -->
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
      <!-- 设备轮换 -->
	<bean id="testTriggeraddLH" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddLH"/>  
       <property name="cronExpression" value="0 0/7 * * * ?"/><!-- 每7分钟执行一次   -->
	</bean> 
     <!--异常情况-->
	<bean id="testTriggeraddYC" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddYC"/>  
       <property name="cronExpression" value="0 0/13 * * * ?"/><!-- 每13分钟执行一次   -->
	</bean> 
	<!--机组启停-->
	<bean id="testTriggeraddQT" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddQT"/>  
       <property name="cronExpression" value="0 0/5 * * * ?"/><!-- 每5分钟执行一次   -->
	</bean> 
	<!--机组启停步序记录数-->
	<bean id="testTriggeraddQTStep" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddQTStep"/>  
       <property name="cronExpression" value="0 0/17 * * * ?"/><!-- 每17分钟执行一次   -->
	</bean> 
    <!--定期试验-->
	<bean id="testTriggeraddSY" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddSY"/>  
       <property name="cronExpression" value="0 0/6 * * * ?"/><!-- 每6分钟执行一次   -->
	</bean> 
   <!--金属超温超压报警-->
	<bean id="testTriggeraddMetalBj" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddMetalBj"/>  
       <property name="cronExpression" value="0 0/11 * * * ?"/><!-- 每11分钟执行一次   -->
	</bean> 
     <!--金属超温超压报警统计表-->
	<bean id="testTriggeraddMetalBjTotal" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddMetalbjTotal"/>  
       <property name="cronExpression" value="0 0 0 1 * ?"/><!-- 每月1号0点执行 value="0 0 0 1 * ?"  -->
	</bean> 
     <!--主再热温度、金属壁温、环保考核取数-->
	<bean id="testTriggeraddCXCBkaohe" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddCXCBkaohe"/>  
       <property name="cronExpression" value="0 0/23 * * * ?"/><!-- 每23分钟执行一次   -->
	</bean> 
	<!--振动报表取数-->
	<bean id="testTriggeraddZzReportForm" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddZzReportForm"/>  
       <property name="cronExpression" value="0 0 3 1 * ?"/><!-- 每月1号3点执行 value="0 0 3 1 * ?"  -->
	</bean> 
	<!--节能报表取数-->
	<bean id="testTriggeraddJNReportForm" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailaddJNReportForm"/>  
       <property name="cronExpression" value="0 30 5 1 * ?"/><!-- 每月1号五点半执行一次 value="0 30 5 1 * ?"   -->
	</bean> 
	<!--  总管理类如果将lazy-init='false'那么容器启动就会执行调度程序     -->
	<bean id="addwork" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" >  
        <property name="triggers">
            <list>  
              <!--   作业调度器,list下可加入其他的调度器   -->
             
			              	     <ref bean="testTriggeraddLH" />
                                 <ref bean="testTriggeraddYC" />
                                 <ref bean="testTriggeraddQT" />
								 <ref bean="testTriggeraddQTStep" /> 
                                 <ref bean="testTriggeraddSY" />  
								 <ref bean="testTriggeraddMetalBj" />  <!--金属超温超压报警-->
								 <ref bean="testTriggeraddMetalBjTotal" />  <!--金属超温超压报警统计表 -->
							     <ref bean="testTriggeraddCXCBkaohe" />  <!--主再热温度、金属壁温、环保考核取数-->
								 <ref bean="testTriggeraddZzReportForm" />  <!--振动报表取数-->
								 <ref bean="testTriggeraddJNReportForm" />   <!--节能报表取数-->
            </list>  
    </property>  
</bean>    
</beans>