body,
button,
input,
select,
textarea,
h1,
h2,
h3 {
  font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

#wrap {
  margin: 5px auto 0;
  width: 96%;
}

.select {
  padding: 0px 0 3px 0;
  height: 37px;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  margin: 0 0 7px 0;
}
.select_style {
  float: left;
  margin-left: 15px;
  margin-top: 6px;
}

.table th {
  background: #c5d9f1;
  text-align: center;
}
.table td{
  text-align: center;
}

.table-bordered {
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
}

.bordered {
  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
}

.bordered tr {
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.bordered .highlight,
.bordered tr:hover {
  background: #fbf8e9;
}

.bordered th {
  /*background-color: #dce9f9;*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: linear-gradient(top, #ebf3fc, #dce9f9);
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

#test tr:nth-child(even) {
  /* background: #333;
    color:#fff;*/
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    color: deepskyblue;
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    color: blueviolet;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    color: darkblue;
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: 1s;
}
.wu_top0 {
  background-color: #e1f1f7;
}
#wrap .wu_top0 #submit {
  margin-bottom: 2px;
}
#table_content th, #table_content td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.thead_style>tr>th {
  background-color: #e1f1f7;
  color: #638cce;
}
.thead_fixed {
  z-index:11;
}
.table-bordered>tbody>tr:nth-child(even) {
  background-color: #f5f8fd;
}
.select label {
  color: #638cce;
}
#org {
  width: 100px;
}
#g_id {
  width: 50px;
}
#spec {
  width: 80px;
}

#org, #g_id, #spec, #sys, #code, #desc {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  font-size: 12px;
  line-height: 20px
}
#org, #g_id, #spec, #sys, #code, #desc, #submit {
  height: 22px;
  margin-right: 10px;
}
#submit {
  margin-left: -15px;
  margin-top: 1px;
  padding: 6px 5px;
}
.form-control {
  padding:6px 0;
}